<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block description %}
    <meta name="description" content='A FeatureBase for your Models.' />
    {% endblock %}

    {% block title %}
    <title>{{ app_name }}</title>
    <meta property='og:title' content='FeatureBaseAI' />
    {% endblock %}

    <meta property="og:image" content="https://ai.featurebase.com/static/sloth.png" />
    <meta property="og:description" content="Blazingly Fast AI Pipelines" />
    <meta property="og:url" content="https://ai.featurebase.com/" />
    <meta property="og:title" content="FeatureBaseAI" />
    <meta property="og:site_name" content="FeatureBaseAI">
    

    <meta name="twitter:card" content="summary_large_image" /> <!-- This specifies a large image card -->
    <meta name="twitter:site" content="@FeatureBase" /> <!-- Replace with your Twitter handle -->
    <meta name="twitter:title" content="FeatureBaseAI" />
    <meta name="twitter:description" content="Blazingly Fast AI Pipelines" />
    <meta name="twitter:image" content="https://ai.featurebase.com/static/sloth.png" />

    <link rel="shortcut icon" href="{{ url_for('static', filename=brand.get('favicon')) }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    
    {% block style %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top" style="opacity: 90%;">
    <h2 style="font-family: Roboto,sans-serif; color: #ffffff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); margin: 0;">
        <i class="fas fa-chevron-right"></i> <!-- Nice ">" Icon -->
        {% if brand %}{{brand.get('name')}}{% else %}SlothAI{% endif %}
        <a href="{{brand.get('github_url')}}" target="_blank" style="text-decoration: none; color: white; margin-left: 12px;">
            <i class="fab fa-github"></i>
        </a>
        </a>
        <a href="{{brand.get('discord_url')}}" target="_blank" style="text-decoration: none; color: white; margin-left: 4px;">
            <i class="fab fa-discord"></i>
        </a>
        <a href="{{brand.get('youtube_url')}}" target="_blank" style="text-decoration: none; color: white; margin-left: 4px;">
            <i class="fab fa-youtube"></i>
        </a>
    </h2>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div style="z-index: 10000;" class="dropdown ml-auto">
            {% if username != "anonymous" %}
            <button style="color: white;" class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{username}}</button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/logout">Logout</a>
                <a class="dropdown-item" href="/settings">Tokens</a>
            </div>
            {% else %}
            <a href="/pipelines" style="color: white;" class="btn btn-outline-dark" type="button" >Log In</a>
            {% endif %}}
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script> 
{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      // redirect to https
      if ("{{dev}}"=="True") {
        console.log("developer logs");
      } else {
        if (location.protocol!=='https:') {
          location.replace(`https:${location.href.substring(location.protocol.length)}`);
        }
      }
    });
  </script>
{% endblock %}
</body>
</html>