{% extends "pages/page_base.html" %}

{% block title %}
<title> Logs | SlothAI</title>
<meta property='og:title' content='Tasks | SlothAI'/>
{% endblock %}

{% block content %}
<div class="content container mt-5 pt-4">
    <h2 class="page_heading">Callback Logs</h2>

    <div class="rounded-lg border p-3 table-responsive">
        <h4 class="mb-3">Your Logs</h4>
        <p>When you use the default callback, logs of the document at that point in the pipeline will be shown here. Logs expire after 1 hour.</p>
        <div class="text-left">
            <button onclick="location.reload()" type="button" class="reload-button btn btn-success">
                <i class="fas fa-sync-alt"></i> Reload
            </button>
            {% if logs %}
            <button id="clearCompleted" type="button" data-toggle="tooltip" data-placement="top" title="Clear completed tasks." class="btn btn-secondary">
                <i class="fas fa-ban"></i> Logs
            </button>
            {% endif %}
        </div>
        <p></p>  

        {% if logs %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Log</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.created }} 
                        <span class="command-copy"><i class="fa fa-clipboard" aria-hidden="true"></i></span></td>
                        <td data-log="{{ log.line }}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    $('.reload-button').on('click', function() {
      window.location.reload();
    });

    $("table tbody tr").each(function() {
        var tdLog = $(this).find("td[data-log");
        var rawData = tdLog.data('log');

        var cleanedData = rawData.slice(2, -1);
        cleanedData = cleanedData.replace(/\\\\n/g, " ");
        cleanedData = cleanedData.replace(/\\'/g, "'");
        cleanedData = cleanedData.replace(/\\"/g, "'");

        var jsonDataObj;

        try {
            jsonDataObj = JSON.parse(cleanedData);
            for (var key in jsonDataObj) {
                if (key.toLowerCase().includes('token')) {
                    delete jsonDataObj[key];
                }
            }
        } catch (error) {
            toastr.error("Error parsing JSON. Showing in plain format.")
            jsonDataObj = { "ParsingError": "Error parsing JSON" };
        }

        var preContent = JSON.stringify(jsonDataObj, null, 2);

        tdLog.html('<div><pre class="logEntry" style="font-size: 10px;">' + preContent + '</pre><span class="log-expand"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> </span></div>');

        if (!jsonDataObj || jsonDataObj.ParsingError) {
            tdLog.find('pre').text(cleanedData);
        }

        let inactivityTimer;
        function reloadPage() { window.location.reload(); }
        function startInactivityTimer() { inactivityTimer = setTimeout(reloadPage, 60000); }
        function resetInactivityTimer() { clearTimeout(inactivityTimer); startInactivityTimer(); }

        document.addEventListener('mousemove', resetInactivityTimer);
        document.addEventListener('keydown', resetInactivityTimer);

        startInactivityTimer();
    });

    // Handle click on the expand icon
    $('.log-expand').on('click', function() {
        var pre = $(this).siblings('pre.logEntry');
        if (pre.css('height') != '360px') {
            pre.css('height', '360px');
        } else {
            pre.css('height', '100%');
        }
    });

    $('#clearCompleted').click(function() {
        // Send the DELETE request to the server.
        $.ajax({
            url: '/logs',
            type: 'DELETE',
            success: function(response) {
                toastr.success("Logs cleared.");
                window.location.reload();
            },
            error: function(xhr, status, error) {
                toastr.error("Error clearing logs.");
            }
        });
    });

    // is it a travesty that I didn't write any of this?
    let inactivityTimer; // Initialize a timer variable

    // Function to reload the page
    function reloadPage() {
      window.location.reload();
    }

    // Function to start the inactivity timer
    function startInactivityTimer() {
      inactivityTimer = setTimeout(reloadPage, 30000); // Reload the page after 1 minute (60000 milliseconds)
    }

    // Function to reset the inactivity timer
    function resetInactivityTimer() {
      clearTimeout(inactivityTimer); // Clear the previous timer
      startInactivityTimer(); // Start a new timer
    }

    // Event listeners for mouse and keyboard activity
    document.addEventListener('mousemove', resetInactivityTimer); // Mouse activity
    document.addEventListener('keydown', resetInactivityTimer); // Keyboard activity

    // Start the initial timer
    startInactivityTimer();
    // Probably not.
    
    $(function () {
        $("button").tooltip();
    });

});
</script>
{% endblock %}


