{% extends "pages/page_base.html" %}

{% block title %}
<title>{{node.name}} | Nodes | FeatureBase AI</title>
<meta property='og:title' content='{{node.name}} | Nodes | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">
    {% for message in get_flashed_messages() %}
        <div id="tempNotice" class="alert alert-info d-none" role="alert">{{ message }}</div>
    {% endfor %}
    
    <h2 class="page_heading">Nodes</h2>

    <div class="card rounded-lg">
        <div class="card-body">
            <h4 class="card-title card-callout">Node {{ node.name }}</h4>
			<p class="card-text">You are editing a node.</p>
            
        </div>
    </div>
    <p></p>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {

});
</script>
{% endblock %}
