{% extends "pages/page_base.html" %}

{% block title %}
<title>Nodes | FeatureBase AI</title>
<meta property='og:title' content='Templates | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">    
    <h2 class="page_heading">Nodes</h2>

    <div class="rounded-lg border p-3">
        <h4 class="mb-3">Your Nodes</h4>
        <p>The following nodes are available for use in your pipelines. Nodes may not be deleted if they are being used by a pipeline. Nodes may use a template to format data sent to any models used by the node or the next node in a pipeline.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Model</th>
                    <th>Template</th>
                    <th>Inputs</th>
                    <th>Outputs</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for node in nodes %}
                <tr>
                    <td><a href="/nodes/{{ node.node_id }}">{{ node.name }}</a></td>
                    <td>{{ node.method }}</td>
                    <td>{{ node.extras.model }}</td>
                    <td><a href="/templates/{{ node.template_id }}">{{ node.get('template_name') }}</a></td>

                    <td></td>
                    <td></td>

                    <td>
                        <button class="delete-button btn btn-danger" data-node-id="{{ node.node_id }}"><i class="fas fa-trash-alt"></i></button>
                        <div class="spinner-border text-danger" role="status" style="display: none;">
                            <span class="sr-only"></span>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p></p>
    <button type="button" id="addNodeButton" class="btn btn-success" data-toggle="modal" data-target="#nodeFormModal">
        <i class="fas fa-plus"></i> Add Node
    </button>
</div>

<div class="modal fade" id="nodeFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Node</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add your node form fields here -->
                    <div class="form-group">
                        <label for="nodeName">Node Name:</label>
                        <input type="text" class="form-control" id="nodeName">
                    </div>
                    <div class="form-group">
                        <label for="nodeProcessor">Node Processor:</label>
                        <select class="form-control" id="nodeProcessor">
                            <option value="template">Bare (template only)</option>
                            <option value="template">Callback to URI</option>
                            <option value="embedding">URI to Text</option>
                            <option value="embedding">Text to Strings</option>
                            <option value="to_dict">Strings to Stringsets</option>
                            <option value="embedding">Strings to Strings</option>
                            <option value="embedding">Strings to Embedding</option>
                            <option value="embedding">Embedding to SQL (Read)</option>
                            <option value="embedding">Dictionary to SQL (Read)</option>
                            <option value="embedding">Dictionary to Table (Write)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nodeTemplate">Node Template:</label>
                        <select class="form-control" id="nodeTemplate">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addNodeButton">Add Node</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    // Attach a click event handler to the delete buttons
    $(".delete-button").on("click", function () {
        var node_id = $(this).data("node-id"); // Adjust this based on your data structure
        var $this = $(this);
        var rowCount = $("tbody tr").length;

        // Find the spinner element related to the clicked button
        var spinner = $this.siblings(".spinner-border");
        
        $this.hide();
        spinner.show();

        $.ajax({
            url: '/nodes/' + node_id,
            type: 'DELETE',
            success: function (response) {
                toastr.success('Node deleted.');
                $this.closest("tr").remove();
                if (rowCount === 1) {
                    window.location.reload();
                }
            },
            error: function (error) {
                toastr.error(error.responseJSON.message);
            },
            complete: function () {
                $this.show();
                spinner.hide();
            }.bind(this) // Maintain the reference to the button
        });
    });

    $("#addNodeButton").on("click", function() {
        // Generate a random name here
        var randomName = "{{name_random}}";
        $('#nodeName').val(randomName);
        console.log(randomName);
    });
    
    // Fetch template options from your server
    $.ajax({
        url: '/templates/list',
        type: 'GET',
        success: function(response) {
            // Update the template dropdown options
            var templateSelect = $('#nodeTemplate');
            templateSelect.empty(); // Clear existing options

            templateSelect.append($('<option>', {
                    value: 'none',
                    text: "None"
            }));

            response.forEach(function(template) {
                templateSelect.append($('<option>', {
                    value: template.id,
                    text: template.name
                }));
            });
        },
        error: function(error) {
            console.error('Error fetching templates:', error);
        }
    });
});
</script>

{% endblock %}
