{% extends "pages/page_base.html" %}

{% block title %}
<title>Nodes | FeatureBase AI</title>
<meta property='og:title' content='Templates | FeatureBase AI'/>
{% endblock %}

{% block content %}
<div class="content container mt-5 pt-5">
    {% if nodes %}
    <!-- Main Content -->
    <h2 class="page_heading">Nodes</h2>

    <div class="rounded-lg border p-3">
        <h4 class="mb-3">Your Nodes</h4>
        <p>Nodes are templates paired with processors and may be added to pipelines.</p>
        <div class="text-left">
            <button type="button" id="addNodeButton" class="btn btn-success" data-toggle="modal" data-target="#nodeFormModal"><i class="fas fa-plus"></i> Create Node</button>
        </div>
        <p></p>
        <table id="nodesTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Node</th>
                    <th>Processor</th>
                    <th>Inputs</th>
                    <th>Outputs</th>
                    <th>Extras</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="nodeTable">
                {% for node in nodes %}
                <tr>
                    <td><button type="button" class="btn btn-secondary" disabled><i class="fas fa-cube"></i> {{ node.name }}</button></td>
                    <td><a tabindex="1" role="button" data-placement="left" class="btn btn-secondary processors" title="{{ node.name }}" data-content="{{ processors | selectattr('value', 'equalto', node.processor) | map(attribute='label') | first }}" disabled data-trigger="focus"><i class="fas fa-microchip"></i> {{ node.processor }}</a></td>

                    <td>
                        {% if node.template.input_fields is not none %}
                            {% for input_fields in node.template.input_fields %}
                                {{ generate_regular_badge(input_fields.name, input_fields.type) }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if node.template.output_fields is not none %}
                            {% for output_field in node.template.output_fields %}
                                {{ generate_regular_badge(output_field.name, output_field.type) }}
                            {% endfor %}
                        {% endif %}
                
                    </td>
                    <td>
                        {% if node.extras %}
                            {% for key, value in node.extras.items() %}
                            <span>
                                {{ generate_extra_badge(key, value) }}
                            </span>
                            <br>
                            {% endfor %}
                        {% endif %}
                    </td>

                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="{{ node.get('template').get('name') }}" class="btn btn-secondary"  href="/templates/{{ node.get('template_id') }}"><i class="fas fa-pen"></i></a>
                        <button class="delete-button btn btn-danger" data-node-id="{{ node.node_id }}"><i class="fas fa-trash-alt"></i></button>
                        <div class="spinner-border spinner-border-sm text-danger" role="status" style="display: none; margin-left: 10px;"><span class="sr-only"></span></div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        {% if templates %}
        <!-- No Nodes Available -->
        <h2 class="page_heading">Node</h2>
        <div class="rounded-lg border p-3">
            <h4 class="mb-3">Create a Node</h4>
            <p>You have no nodes defined. Click the "Add Node" button below to create your first node from one of your templates. </p>
            <p>Templates use variables and those variables may be set in the template itself. If a variable's value is set to <strong>"generate"</strong> or <strong>None</strong>, you will be prompted for the variable's value when you create the node. </p>
            <button type="button" id="addNodeButton" class="btn btn-success" data-toggle="modal" data-target="#nodeFormModal">
                <i class="fas fa-plus"></i> Create Node
            </button>
        </div>
        {% else %}
            <!-- No Nodes Available -->
        <h2 class="page_heading">Node</h2>
        <div class="rounded-lg border p-3">
            <h4 class="mb-3">Create Node</h4>
            <p>You don't have any templates. You will need to create a template before you can create a node.</p>
            <p>Once you create a new node, you can add it to a pipeline.</p>
            <p></p>
            <h5 class="mb-3">Task: Create a New Template</h5>
            <p>Click the "Create Template" button below to create your first template. </p>
            <button type="button" id="addTemplateButton" class="btn btn-success" data-toggle="modal">
                <i class="fas fa-plus"></i> Create Template
            </button>
        </div>
        {% endif %}
    {% endif %}
</div>


<div class="modal fade" id="nodeFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Node</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add your node form fields here -->
                    <div class="form-group">
                        <label for="nodeName">Node Name:</label>
                        <input type="text" class="form-control" id="nodeName">
                    </div>
                    <div class="form-group">
                        <label for="nodeProcessor">Node Processor:</label>
                        <select class="form-control" id="nodeProcessor">
                        {% for processor in processors %}
                        <option value="{{ processor['value'] }}">{{ processor['label'] }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" style="display: none;" id="nodeTemplateContainer">
                        <label for="nodeTemplate">Node Template:</label>
                        <select class="form-control" id="nodeTemplate">
                        </select>
                    </div>
                    <div class="spinner-grow" role="status" id="nodeTemplateSpinner">
                        <span class="sr-only"></span>
                    </div>
                <div class="form-group" style="display: none;" id="dynamicFieldsContainer">
                    <!-- JavaScript will populate this container with new fields -->
                </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="addNodeModalButton"><i class="fas fa-plus"></i> Create Node</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    function getRowCount() {
        const tbody = document.querySelector('table tbody');
        if (tbody) {
            const rowCount = tbody.getElementsByTagName('tr').length;
            return rowCount;
        } else {
            return 0;
        }
    }

    // badge popovers
    $('.extras').popover({
      trigger: 'focus'
    });
    $('.processors').popover({
      trigger: 'focus'
    });

    $(".delete-button").on("click", function () {
        var node_id = $(this).data("node-id");
        var $this = $(this);
        var spinner = $this.siblings(".spinner-border");
        
        $this.hide();
        spinner.show();

        $.ajax({
            url: '/nodes/' + node_id,
            type: 'DELETE',
            success: function (response) {
                toastr.success('Node deleted.');
                $this.closest("tr").remove();
            },
            error: function (error) {
                toastr.error(error.responseJSON.message);
            },
            complete: function () {
                $this.show();
                spinner.hide();
                if (getRowCount() === 0) {
                    window.location.href = '/nodes';
                }
            }.bind(this)
        });
    });

    // Function to change button colors
    function changeButtonColors() {
        const buttons = document.querySelectorAll("#nodeTable .btn");

        buttons.forEach(button => {
            const name = button.innerText;
            var color = "";

            if (!name) {
                const altname = $(button).attr('title');
                if (altname) {
                    color = getColorFromName(altname);
                    button.style.backgroundColor = color;
                    button.style.borderColor = color;
                }
            } else {
                color = getColorFromName(name);
                button.style.backgroundColor = color;
                button.style.borderColor = color;
            }
        });
    }

    // Function to change badge colors
    function changeBadgeColors() {
        const badges = document.querySelectorAll("#nodeTable .badge");

        badges.forEach(badge => {
            const name = processString(badge.innerText);
            const color = getColorFromName(name);
            badge.style.backgroundColor = color;
            badge.style.borderColor = color;
        });
    }

    // Function to run after both changeButtonColors and changeBadgeColors are done
    function sortTable() {
        // sort table
        $('#nodesTable').DataTable({
            "columnDefs": [{ "orderable": false, "targets": [2,3,4,5] }]
        });
    }

    // Run changeButtonColors and changeBadgeColors functions using Promises
    const buttonColorsPromise = new Promise((resolve) => {
        changeButtonColors();
        resolve();
    });

    const badgeColorsPromise = new Promise((resolve) => {
        changeBadgeColors();
        resolve();
    });

    // Wait for both promises to resolve, and then execute anotherFunction
    Promise.all([buttonColorsPromise, badgeColorsPromise]).then(() => {
        sortTable();
    });


    function processString(inputString) {
      if (inputString.includes(':')) {
        const parts = inputString.split(':');
        part = parts[1].trim();
        return part;
      } else {
        return inputString;
      }
    }

    function getColorFromName(name) {
        name = name.trim(); // Remove leading and trailing spaces
        let hash = 0;
        for (let i = 0; i < name.length; i++) {
            hash = name.charCodeAt(i) + ((hash << 5) - hash);
        }
        const color = `hsl(${hash % 360}, 70%, 60%)`;
        return color;
    }
    
    $("#addTemplateButton").on("click", function() {
        window.location.href = "/templates/new";
    });

    $("#addNodeButton").on("click", function() {
        $("#addNodeModalButton").prop("disabled", true);
        
        var templateSelect = $('#nodeTemplate');

        // empty the node pulldown and any extras
        templateSelect.empty();
        $("#dynamicFieldsContainer").empty();

        // hide the pulldown until it's populated
        $("#nodeTemplateSpinner").show();
        $("#nodeTemplateContainer").hide();

        $.ajax({
            url: '/templates/list',
            type: 'GET',
            success: function(response) {
                templateSelect.append($('<option>', {
                    value: 'none',
                    text: "None"
                }));
    
                response.forEach(function (template) {
                    var optionText = template.name;

                    // Check if the processor is available, and append
                    if (template.processor) {
                        optionText += " ➔ " + template.processor;
                    }

                    if (Array.isArray(template.input_fields) && template.input_fields.length > 0) {
                        var inputFieldNames = template.input_fields.map(function (inputField) {
                            return inputField.name;
                        });
                        optionText += " (" + inputFieldNames.join(', ') + ")";
                    }

                    if (Array.isArray(template.output_fields) && template.output_fields.length > 0) {
                        optionText += " ➔ " + template.output_fields.map(function (outputField) {
                            return outputField.name;
                        }).join(', ');
                    } else if (!Array.isArray(template.input_fields) || template.input_fields.length === 0) {
                        optionText += " ➔ passthrough";
                    }

                    templateSelect.append($('<option>', {
                        value: template.template_id,
                        text: optionText
                    }));
                });
                $("#nodeTemplateSpinner").hide();
                $("#nodeTemplateContainer").show();

            },
            error: function(error) {
                toastr.error('Error fetching templates:', error);
            }
        });

        // Generate a random name here
        var randomName = "{{name_random}}";
        $('#nodeName').val(randomName);
    });

    // Event listener for the template selection
    $("#nodeTemplate").on("change", function() {
        $("#addNodeModalButton").prop("disabled", true);
        $("#dynamicFieldsContainer").empty();

        var selectedTemplateId = $(this).val();

        if (selectedTemplateId !== 'none') {
            $.ajax({
                url: '/templates/' + selectedTemplateId + '/detail',
                type: 'GET',
                success: function (response) {
                    if (response.extras) {
                        var hasRelevantFields = false; // Change the initial value to false
                        
                        $("#dynamicFieldsContainer").empty(); // Clear the container before appending fields
                        
                        $("#dynamicFieldsContainer").append($("<hr>")).append($("<h5>").text("User Extras"));
                        
                       for (var key in response.extras) {
                            if (response.extras.hasOwnProperty(key)) {
                                var extraValue = response.extras[key];
                                var fieldType = "text";

                                if (key.toLowerCase().includes("token") || key.toLowerCase().includes("password")) {
                                    fieldType = "password";
                                }

                                // Check for conditions (string containing [user_extra], null, or undefined)
                                if (
                                    (typeof extraValue === "string" && extraValue.includes("[user_extra]")) ||
                                    extraValue === null ||
                                    extraValue === undefined
                                ) {
                                    var labelText = "<strong>" + key + "</strong>:";
                                    var inputField = $("<input>")
                                        .attr("type", fieldType)
                                        .addClass("form-control")
                                        .attr("id", key)
                                        .val(extraValue); // Set the value from the response
                                    var label = $("<label>")
                                        .attr("for", key)
                                        .html(labelText);

                                    $("#dynamicFieldsContainer").append(label, inputField);

                                    hasRelevantFields = true;
                                }
                            }
                        }

                        if (hasRelevantFields) {
                            $("#dynamicFieldsContainer").show();
                        } else {
                            $("#dynamicFieldsContainer").hide();
                        }
                    }

                    if (response.processor) {
                        // Set the selected processor in the dropdown
                        $("#nodeProcessor").val(response.processor);
                    } else if (response.extras.processor) {
                        $("#nodeProcessor").val(response.extras.processor);
                    }
                    // renable the add button
                    $("#addNodeModalButton").prop("disabled", false);
                },
                error: function (error) {
                    toastr.error('Error fetching template detail:', error);
                }
            });
        }
    });

    function validateOpenAIToken(openaiToken, callback) {
        var requestData = {
            openai_token: openaiToken
        };
        $.ajax({
            url: '/nodes/validate/openai',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(response) {
                console.log(response)
                callback(true);
            },
            error: function(error) {
                callback(false);
            }
        });
    }

    $("#addNodeModalButton").on("click", function() {
        $("#addNodeModalButton").prop("disabled", true);
        
        // Get the data from the modal fields
        var nodeName = $("#nodeName").val();
        var nodeProcessor = $("#nodeProcessor").val();
        var nodeTemplate = $("#nodeTemplate").val();
        var dynamicFields = {}; // Create an object to store dynamic fields

        // Iterate through all input fields with the 'form-control' class within #dynamicFieldsContainer
        $("#dynamicFieldsContainer .form-control").each(function() {
            var fieldId = $(this).attr("id");
            var fieldValue = $(this).val();
            dynamicFields[fieldId] = fieldValue;
        });

        // Check if any dynamic fields are empty
        var dynamicFieldsAreEmpty = Object.values(dynamicFields).some(function(value) {
            return value === "";
        });

        if (dynamicFieldsAreEmpty) {
            toastr.error("Please fill in all required fields.");
            return;
        }

        var nodeData = {
            node: {
                name: nodeName,
                processor: nodeProcessor,
                template_id: nodeTemplate,
                extras: {}
            }
        };

        $("#dynamicFieldsContainer label").each(function () {
            var labelFor = $(this).attr("for");
            var inputValue = $(this).next('input').val();
            var extrasObject = {};
            nodeData.node.extras[labelFor] = inputValue;;
        });

        var isValidToken = true;
        var validationPromises = [];

        // Iterate through the properties of the `extras` object
        for (var key in nodeData.node.extras) {
            if (nodeData.node.extras.hasOwnProperty(key)) {
                var value = nodeData.node.extras[key];

                // Check if the current key is "openai_token"
                if (key === "openai_token") {
                    var validationPromise = $.Deferred();

                    validateOpenAIToken(value, function (isValid) {
                        if (!isValid) {
                            toastr.error("Token validation failed");
                            isValidToken = false;
                        }
                        validationPromise.resolve(isValid);
                    });

                    validationPromises.push(validationPromise.promise());
                }
            }
        }
        $.when.apply($, validationPromises).done(function() {
            if (isValidToken) {
                addNode(nodeData);
            }
        });
    });

    function addNode(nodeData) {
        $("#addNodeButton").prop("disabled", true);

        $.ajax({
            url: '/nodes/create',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(nodeData),
            success: function(response) {
                $("#nodeFormModal").modal('hide');
                toastr.success('Node added successfully.');
                window.location.reload();
            },
            error: function(error) {
                $("#addNodeButton").prop("disabled", false);
                toastr.error('Error adding the node: ' + error.responseJSON.message);
            }
        });
    }
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

});
</script>

{% endblock %}
