<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block description %}
    <meta name="description" content='A FeatureBase for your Models.' />
    {% endblock %}
    {% block title %}
    <title>{{ app_name }}</title>
    <meta property='og:title' content='FeatureBaseAI' />
    {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    
    {% block style %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg fixed-top" style="opacity: 90%;">
    <h2 style="font-family: Roboto,sans-serif; color: #ffffff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); margin: 0;">
        <i class="fas fa-chevron-right"></i> <!-- Nice ">" Icon -->
        SlothAI
        <i class="fab fa-github" style="margin-left: 12px;"></i>
        <i class="fab fa-discord"style="margin-left: 4px;"></i>
        <i class="fab fa-youtube"style="margin-left: 4px;"></i>
    </h2>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div style="z-index: 10000;" class="dropdown ml-auto">
            <button style="color: white;" class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{username}}</button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/logout">Logout</a>
                <a class="dropdown-item" href="/settings">Tokens</a>
            </div>
        </div>
    </div>
</nav>

<!-- Left Sidebar Navigation -->
<div class="sidebar">
    <a href="/pipelines" {% if 'pipeline' in request.endpoint %}class="highlighted-link"{% endif %}>
        <i class="fas fa-code-branch"></i> <span>Pipelines</span>
    </a>
    <a href="/nodes" {% if 'node' in request.endpoint %}class="highlighted-link"{% endif %}>
        <i class="fas fa-cube"></i> <span>Nodes</span>
    </a>
    <a href="/templates" {% if 'template' in request.endpoint %}class="highlighted-link"{% endif %}>
        <i class="fas fa-pen"></i> <span>Templates</span>
    </a>
    <a href="/tasks" {% if 'task' in request.endpoint %}class="highlighted-link"{% endif %}>
        <i class="fas fa-tasks"></i> <span>Tasks</span>
    </a>
    <a href="/logs" {% if 'log' in request.endpoint %}class="highlighted-link"{% endif %}>
        <i class="fas fa-bug"></i> <span>Logs</span>
    </a>
    <a href="/settings" {% if 'setting' in request.endpoint %}class="highlighted-link"{% endif %}>
        <i class="fas fa-cog"></i> <span>Settings</span>
    </a>
</div>

{% macro generate_regular_badge(field_name, field_type) %}
    <span class="badge badge-dark">
        {{ field_name }}: {{ field_type }}
    </span><br/>
{% endmacro %}

{% macro generate_extra_badge(extra_name, extra_value) %}
    {% if extra_value is defined %}
        {% set badge_text = extra_name ~ ': ' ~ extra_value %}
    {% else %}
        {% set badge_text = extra_name %}
    {% endif %}
 
    <a tabindex="1" data-toggle="popover" role="button" data-placement="left" data-trigger="focus" data-content="{% if extra_value != '[user_extra]' %}{{ extra_value }}{% else %}[user_extra]{% endif %}" class="badge badge-dark extras">
        {{ extra_name }}
    </a> 
{% endmacro %}


{% block content %}
{% endblock %}

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    toastr.options = {
      "positionClass": "toast-bottom-right",
    }
    {% for message in get_flashed_messages() %}
    toastr.info(message);
    {% endfor %}
});
</script>

{% block javascript %}
{% endblock %}

</body>
</html>
