{% extends "pages/page_base.html" %}

{% block title %}
<title>Pipelines | FeatureBase AI</title>
<meta property='og:title' content='Pipelines | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">
    <h2 class="page_heading">Pipelines</h2>

    {% if pipelines %}
    <div class="rounded-lg border p-3">
        <h4 class="mb-3">Your Pipelines</h4>
        <p>Clicking on the pipeline's nodes shows input and output field requirements. Clicking on the pipeline name gives detailed information about the flow of data through the pipeline.</p>
        <table id="pipelineTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nodes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for pipeline in pipelines %}
                <tr>
                    <td>
                        <button class="btn btn-danger" onclick="location.href='/pipelines/{{ pipeline.pipe_id }}'">{{ pipeline.name }}</button>
                    </td>
                    <td>
                        <div class="btn-group">
                            {% for node in pipeline.node_ids %}
                                <button class="btn btn-danger" onclick="location.href='/pipelines/{{ pipeline.pipe_id }}'">{{ node }}</button>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <button class="delete-button btn btn-danger" data-pipe-id="{{ pipeline.pipe_id }}"><i class="fas fa-trash-alt"></i></button>
                        <div class="spinner-border text-danger" role="status" style="display: none;">
                            <span class="sr-only"></span>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p></p>
    <button id="createPipeline" type="button" class="btn btn-success">
        <i class="fas fa-plus"></i> Create Pipeline
    </button>

    {% else %}

    <div class="rounded-lg border p-3">
        <h4 class="mb-3">Create a Pipeline</h4>
        <p>Click on the "Add Pipeline" button to create a new Pipeline. Pipelines run documents through a list of node processors.</p>

        <button id="createPipeline" type="button" class="btn btn-success">
            <i class="fas fa-plus"></i> Create Pipeline
        </button>
        <p></p>
        <p>Once you have a pipeline, you will send it data with a curl statement similar to this one:</p>
        <div class="code-block">curl -X POST \
    -H "Content-Type: application/json" \
    -d '{"text": ["There was a sudden knock at the door, then silence."]}' \
    https://ai.featurebase.com/ingest/&lt;endpoint_id&gt;?token=&lt;token&gt;</div>
        <p></p>
        <p>The fields in the data sent to a pipeline will depend on the inputs required for each node in the pipeline.</p>
    </div>
    {% endif %}
</div>

<div class="modal fade" id="nodeFormModal" tabindex="-1" role="dialog" aria-labelledby="nodeFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title card-callout" id="nodeFormModalLabel">Create Pipeline</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- New node selection section -->
                <div class="form-group">
                    <label for="pipelineName">Pipeline Name</label>
                    <input type="text" class="form-control" id="pipelineName" placeholder="Pipeline name">
                </div>

                <div class="form-group">
                    <label for="selectedNode">Add Node</label>
                    <div class="input-group">
                        <select class="form-control" id="selectedNode">
                            <optgroup id="nodePulldown" label="Available Nodes">
                                <option value="None">None</option>
                                {% for node in nodes %}
                                    <option value="{{ node.node_id }}">{{ node.name }} ➔ {{ node.template_name }} ➔ {{ node.processor }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                        <div class="input-group-append">
                            <button id="addNodeToList" class="btn btn-dark"><i class="fas fa-plus"></i> Add</button>
                        </div>
                    </div>
                </div>

                <!-- Node list section -->
                <div style="margin-top: 20px" class="form-group">
                    <div class="rounded-lg border p-3" id="selectedNodesContainer" style="display: none;">
                        <!-- Content inside the container -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="createButton"><i class="fas fa-plus"></i> Create</button>
            </div>
        </div>
    </div>
</div>


</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function () {
    // grab the nodes from the template and make them available via getNodeInfo
    var nodes = JSON.parse('{{nodes | tojson}}');
    function getNodeInfo(nodeId) {
        const node = nodes.find(node => node.node_id === nodeId);

        if (node) {
            const { name, template_name, processor, input_fields, output_fields, extras } = node;
            return { name, template_name, processor, input_fields, output_fields, extras };
        } else {
            return null;
        }
    }

    function getColorFromName(name) {
        name = name.trim(); // Remove leading and trailing spaces
        let hash = 0;
        for (let i = 0; i < name.length; i++) {
            hash = name.charCodeAt(i) + ((hash << 5) - hash);
        }
        const color = `hsl(${hash % 360}, 70%, 60%)`;
        return color;
    }

    // create buttons in the list
    function createButton(name, title, content, extras=false) {
        const container = $('<div>');
        if (extras && content.length > 0) {
            content.forEach(extra => {
                for (const key in extra) {
                    if (extra.hasOwnProperty(key)) {
                        const value = extra[key];
                        const badge = $('<span>', {
                            class: 'badge badge-secondary',
                            text: `${key}:${value}`,
                        });
                        container.append(badge);
                    }
                }
            });
        } else if (content.length > 0) {
            content.forEach(entry => {
                const badge = $('<span>', {
                    class: 'badge badge-primary',
                    text: `${entry.name}:${entry.type}`,
                    type: entry.type
                });
                container.append(badge);
            });
        } else {
            const badge = $('<span>', {
                class: 'badge badge-success',
                text: `passthrough`
            });
            container.append(badge);
        }
        const button = $('<a>', {
            tabindex: 0,
            role: 'button',
            class: 'btn btn-secondary',
            title: title,
            'data-toggle': 'popover',
            'data-trigger': 'focus',
            'data-html': true,
            'data-placement': 'top',
            'data-content': container.html(),
        });
        button.css('background-color', getColorFromName(name));
        button.html(name);
        button.popover({trigger: 'focus'});
        return button;
    }

    $("#createPipeline").on("click", function() {
        if ($("#nodePulldown").find('option').length > 1) {
            $("#nodeFormModal").modal("show");
        } else {
            toastr.error("No nodes. Add a node first before adding a pipeline.");
        }
    });

    const selectedNodes = [];
    $('#addNodeToList').click(function () {
        const selectedNode = $('#selectedNode').find(':selected').attr('value');

        // add the node if it's not None
        if ( selectedNode == "None" || !selectedNode ) {
            toastr.error("Select a valid node to add to the pipeline.");
            return;
        } else if ( selectedNodes.includes(selectedNode) ) {
            toastr.error("Node is already in the pipeline.");
            return;
        }

        selectedNodes.push(selectedNode);

        const buttonGroup = $('<div></div>', {
            class: 'btn-group btn-group-toggle',
            'data-toggle': 'buttons',
        });

        const deleteButton = $('<a></a>', {
            tabindex: 0,
            role: 'button',
            class: `btn btn-danger rounded-right`,
            title: 'Delete Node',
            click: function () {
                const indexToRemove = selectedNodes.indexOf(selectedNode);
                if (indexToRemove !== -1) {
                    selectedNodes.splice(indexToRemove, 1);
                }
                listItem.remove();

                // set the dropdown to None 
                $("#selectedNodesContainer").val("None");

                // hide or show the container
                if ($('#selectedNodes').length == 0) {
                    $('#selectedNodesContainer').hide();
                } else {
                    $('#selectedNodesContainer').show();
                }
            }
        });
        deleteButton.append($('<i class="fas fa-trash-alt"></i>'));
        
        buttonGroup.append(createButton(getNodeInfo(selectedNode).name, "Node Input", getNodeInfo(selectedNode).input_fields));
        buttonGroup.append(createButton(getNodeInfo(selectedNode).template_name, "Template", getNodeInfo(selectedNode).extras, true));
        buttonGroup.append(createButton(getNodeInfo(selectedNode).processor, "Processor Output", getNodeInfo(selectedNode).output_fields));
        buttonGroup.append(deleteButton);

        const listItem = $('<div></div>', {
            class: 'selected-node',
        });

        // append to the existing list
        listItem.append(buttonGroup);

        $("#selectedNodesContainer").append(listItem);
        $('#selectedNodesContainer').show();
    });

    // Attach a click event handler to the delete buttons
    $(".delete-button").on("click", function () {
        var pipelineId = $(this).data("pipe-id");
        var $this = $(this);
        var spinner = $this.siblings(".spinner-border");
        
        $this.hide();
        spinner.show();

        // Send an AJAX request to delete the pipeline with the DELETE method
        $.ajax({
            url: '/pipeline/' + pipelineId,
            type: 'DELETE',
            success: function (response) {
                toastr.success('Pipeline deleted..');
                $this.closest("tr").remove();
            },
            error: function (error) {
                toastr.error(error.responseJSON.message);
            },
            complete: function() {
                $this.show();
                spinner.hide();
                if (getRowCount() === 0) {
                    window.location.href = '/pipelines';
                }
            }.bind(this)
        });
    });

    $("#createButton").click(function () {
        pipelineData = {"name": $("#pipelineName").val(), "nodes": selectedNodes};

        // Move this to a notice in the form
        if (!/^[a-z-_]+$/.test(pipelineData.name)) {
            toastr.error("Invalid pipeline name. Pipeline name should only contain lowercase letters, '-', and '_'.");
        } else {
            $.ajax({
                type: "POST",
                url: "/pipeline",
                data: JSON.stringify(pipelineData), // Send data as JSON
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    toastr.success("Created pipeline.");
                    window.location.href = "/pipelines/" + response.pipe_id;
                },
                error: function (error) {
                    toastr.error(error.responseJSON.message);
                }
            });
        }
    });

});
</script>
{% endblock %}