{% extends "pages/page_base.html" %}

{% block title %}
<title>{{pipeline.name}} | Pipeline | FeatureBase AI</title>
<meta property='og:title' content='{{pipeline.name}} | Pipeline | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">
    <h2 class="page_heading">Pipeline Details</h2>

    <div class="rounded-lg border p-3">
        <h4 class="mb-3">{{pipeline.name}}</h4>
        <p>The pipeline '{{pipeline.name}}' contains the following nodes:</p>
        <div class="btn-group">
            {% for node_id in pipeline.node_ids %}
                {% for node in nodes %}
                    {% if node.node_id == node_id %}
                        <button data-node_id="{{node_id}}" class="btn btn-secondary">{{ node.name }}</button>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <p></p>
        <p>The pipeline is used by POST'ing data to the ingestion endpoint:</p>
        <code>curl -X POST \
"http{% if "localhost" not in hostname %}s{% endif %}://{{hostname}}/pipeline/{{pipeline.pipe_id}}/task?token={{token}}" \
-H "Content-Type: application/json" \
-d {{example_d}}
        <span class="command-copy"><i class="fa fa-clipboard" aria-hidden="true"></i></code>
        <button class="btn btn-danger delete-button" data-pipeline-id="{{ pipeline.pipe_id }}"><i class="fas fa-trash-alt"></i> Delete</button>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    // grab the nodes from the template and make them available via getNodeInfo
    var nodes = JSON.parse('{{nodes | tojson}}');

    function getColorFromName(name) {
        name = name.trim(); // Remove leading and trailing spaces
        let hash = 0;
        for (let i = 0; i < name.length; i++) {
            hash = name.charCodeAt(i) + ((hash << 5) - hash);
        }
        const color = `hsl(${hash % 360}, 70%, 60%)`;
        return color;
    }

    const buttons = document.querySelectorAll(".btn-group .btn");
    buttons.forEach(button => {
        const name = button.innerText;
        const color = getColorFromName(name);
        button.style.backgroundColor = color;
        button.style.borderColor = color;

    });

    function getNodeInfo(nodeId) {
        const node = nodes.find(node => node.node_id === nodeId);

        if (node) {
            const { name, template_name, processor, input_fields, output_fields, extras } = node;
            return { name, template_name, processor, input_fields, output_fields, extras };
        } else {
            return null;
        }
    }

    var node_buttons = $('button[data-node_id]');
    
    // Loop through the buttons
    node_buttons.each(function() {
        var nodeButton = $(this);
        var nodeID = nodeButton.data('node_id');
        var nodeInfo = getNodeInfo(nodeID);

        var container = $('<div>');

        if (nodeInfo) {
            var inputFields = nodeInfo.input_fields || [];
            var outputFields = nodeInfo.output_fields || [];

            // Process inputs (green)
            inputFields.forEach(function(field) {
                var badgeText = "input:" + field.name;
                var badge = $('<span>', {
                    class: 'badge badge-success',
                    text: badgeText,
                });

                container.append(badge);
                container.append('<br>');
            });

            // Process outputs (blue)
            outputFields.forEach(function(field) {
                var badgeText = 'output:' + field.name;
                var badge = $('<span>', {
                    class: 'badge badge-primary',
                    text: badgeText,
                });

                container.append(badge);
                container.append('<br>');
            });
        } else {
            var badge = $('<span>', {
                class: 'badge badge-success',
                text: 'passthrough',
            });
            container.append(badge);
        }

        nodeButton.popover({
            content: container.html(),
            trigger: 'focus',
            html: true,
            placement: 'top',
        });
    });

    // delete button
    $(".delete-button").on("click", function () {
        var pipelineId = $(this).data("pipeline-id");
        var $this = $(this);
        $this.addClass("flash");

        // Send an AJAX request to delete the pipeline with the DELETE method
        $.ajax({
            url: '/pipeline/' + pipelineId,
            type: 'DELETE',
            success: function (response) {
                toastr.success('Pipeline deleted.');
                window.location.href = "/pipelines";
            },
            error: function (error) {
                console.error("Error deleting pipeline:", error);
            }
        });
    });

    // copy things
	$('span.command-copy').click(function(e) {
		var preElement = $(this).closest('code');
		var text = preElement.text().trim();
		var copyTextarea = document.createElement('textarea');
		copyTextarea.value = text;
		document.body.appendChild(copyTextarea);
		copyTextarea.select();
		document.execCommand('copy');
		document.body.removeChild(copyTextarea);
		$(this).addClass('flash');
		setTimeout(function() {
			$('span.command-copy').removeClass('flash');
		}, 500);
	});
});
</script>
{% endblock %}
