{% extends "pages/page_base.html" %}

{% block title %}
<title>{{pipeline.name}} | Pipeline | FeatureBase AI</title>
<meta property='og:title' content='{{pipeline.name}} | Pipeline | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">
    <h2 class="page_heading">Pipeline Details</h2>

    <div class="rounded-lg border p-3">
        <h3 class="mb-3">{{pipeline.name}}</h3>
        <p>The pipeline '{{pipeline.name}}' contains the following nodes:</p>
        <div class="btn-group">
            {% for node_id in pipeline.node_ids %}
                {% for node in nodes %}
                    {% if node.node_id == node_id %}
                        <button title="{{node.processor}}" data-template_id="{{node.template_id}}" data-node_id="{{node_id}}" class="btn btn-secondary">{{ node.name }}</button>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <button id="DownloadPipeline" data-pipe_id="{{pipeline.pipe_id}}" class="btn btn-primary ignore-color"><i class="fas fa-download"></i></button>
            <button class="btn btn-danger delete-button" data-pipe-id="{{ pipeline.pipe_id }}"><i class="fas fa-trash-alt"></i></button>
        </div>
        <hr/>
        <h4>Send Data</h4>
        <p>The pipeline is used by POST'ing data to the task ingestion endpoint:</p>
        
        <ul class="nav nav-tabs" id="codeTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="curl-tab" data-toggle="tab" href="#curl" role="tab" aria-controls="curl" aria-selected="true">cURL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="python-tab" data-toggle="tab" href="#python" role="tab" aria-controls="python" aria-selected="false">Python</a>
            </li>
        </ul>

        <div class="tab-content" id="codeTabContent">
            <div class="tab-pane fade show active" id="curl" role="tabpanel" aria-labelledby="curl-tab">
<code>curl -X POST "http{% if 'localhost' not in hostname %}s{% endif %}://{{hostname}}/pipeline/{{pipeline.pipe_id}}/task?token={{token}}" \
-H "Content-Type: application/json" \
-d {{example_d}}<span class="command-copy"><i class="fa fa-clipboard" aria-hidden="true"></i></span></code>
    </div>
    <div class="tab-pane fade" id="python" role="tabpanel" aria-labelledby="python-tab">
<code># POST to SlothAI
import requests

url = "http{% if 'localhost' not in hostname %}s{% endif %}://{{hostname}}/pipeline/{{pipeline.pipe_id}}/task?token={{token}}"
headers = {"Content-Type": "application/json"}
data = {{ example_d|replace("'", '') }}

response = requests.post(url, headers=headers, json=data)

if response.status_code == 200:
    print(response.text)
else:
    print(response.text)<span class="command-copy"><i class="fa fa-clipboard" aria-hidden="true"></i></span></code>
            </div>
        </div>

        <hr/>
        <h4>Graph Layout</h4>
        <div class="mermaid" style="display: none;">
            {{mermaid_string}}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';

    // Initialize Mermaid when the page is loaded
    document.addEventListener('DOMContentLoaded', function () {
        mermaid.initialize({ startOnLoad: true });

    });
    const mermaidDiv = document.querySelector('.mermaid');
    mermaidDiv.style.display = 'block';

</script>
<script type="text/javascript">
$(document).ready(function() {
    // grab the nodes from the template and make them available via getNodeInfo
    var nodes = JSON.parse('{{nodes | tojson}}');

    function getColorFromName(name) {
        name = name.trim(); // Remove leading and trailing spaces
        let hash = 0;
        for (let i = 0; i < name.length; i++) {
            hash = name.charCodeAt(i) + ((hash << 5) - hash);
        }
        const color = `hsl(${hash % 360}, 70%, 60%)`;
        return color;
    }

    const buttons = document.querySelectorAll(".btn-group .btn:not(.ignore-color)");
    buttons.forEach(button => {
        const name = button.innerText;
        const color = getColorFromName(name);
        button.style.backgroundColor = color;
        button.style.borderColor = color;

    });

    function getNodeInfo(nodeId) {
        const node = nodes.find(node => node.node_id === nodeId);

        if (node) {
            const { name, template_name, processor, input_fields, output_fields, extras } = node;
            return { name, template_name, processor, input_fields, output_fields, extras };
        } else {
            return null;
        }
    }

    var node_buttons = $('button[data-node_id]');
    
    // Loop through the buttons
    node_buttons.each(function() {
        var nodeButton = $(this);
        var nodeID = nodeButton.data('node_id');
        var nodeTemplateID = nodeButton.data('template_id')
        var nodeInfo = getNodeInfo(nodeID);

        var container = $('<div>');

        if (nodeInfo) {
            var inputFields = nodeInfo.input_fields || [];
            var outputFields = nodeInfo.output_fields || [];

            // Process inputs (green)
            inputFields.forEach(function(field) {
                var badgeText = "input:" + field.name;
                var badge = $('<span>', {
                    class: 'badge badge-success',
                    text: badgeText,
                });

                container.append(badge);
                container.append('<br>');
            });

            // Process outputs (blue)
            outputFields.forEach(function(field) {
                var badgeText = 'output:' + field.name;
                var badge = $('<span>', {
                    class: 'badge badge-primary',
                    text: badgeText,
                });

                container.append(badge);
                container.append('<br>');
            });
            if (outputFields.length === 0 && inputFields.length === 0) {
                var badge = $('<span>', {
                    class: 'badge badge-success',
                    text: 'passthrough',
                });
                container.append(badge);
                container.append('<br>');
            }
        }
        container.append($('<a href="/templates/'+nodeTemplateID+'">edit template</a>'));
        nodeButton.popover({
            content: container.html(),
            trigger: 'focus',
            html: true,
            placement: 'top',
        });
    });

    // delete button
    $(".delete-button").on("click", function () {
        var pipelineId = $(this).data("pipe-id");
        var $this = $(this);
        $this.addClass("flash");

        // Send an AJAX request to delete the pipeline with the DELETE method
        $.ajax({
            url: '/pipeline/' + pipelineId,
            type: 'DELETE',
            success: function (response) {
                toastr.success('Pipeline deleted.');
                window.location.href = "/pipelines";
            },
            error: function (error) {
                console.error("Error deleting pipeline:", error);
            }
        });
    });

    // Listen for the click event on the download button
    $('#DownloadPipeline').on('click', function() {
        $(this).prop('disabled', true);
        toastr.info("Download request sent. Standby...");

        // Get the pipe_id from the data attribute
        var pipe_id = $(this).data('pipe_id');
        var name = $(this).data('name')

        // Construct the URL for the download endpoint (replace with your actual endpoint URL)
        var downloadURL = '/pipelines/' + pipe_id + '/download';

        // Create a hidden anchor element to trigger the download
        var link = document.createElement('a');
        link.href = downloadURL;
        link.target = '_blank'; // Open in a new tab
        link.download = 'pipeline_' + name + '.json'; // Set the filename

        // Trigger a click event on the hidden anchor element
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        setTimeout(function() {
            $('#DownloadPipeline').prop('disabled', false);
        }, 10000);
    });

    // copy things
	$('span.command-copy').click(function(e) {
		var preElement = $(this).closest('code');
		var text = preElement.text().trim();
		var copyTextarea = document.createElement('textarea');
		copyTextarea.value = text;
		document.body.appendChild(copyTextarea);
		copyTextarea.select();
		document.execCommand('copy');
		document.body.removeChild(copyTextarea);
		$(this).addClass('flash');
		setTimeout(function() {
			$('span.command-copy').removeClass('flash');
		}, 500);
	});
});
</script>
{% endblock %}
