{% extends "pages/page_base.html" %}

{% block title %}
<title> Settings | FeatureBase AI</title>
<meta property='og:title' content='Settings | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">
    <h2 class="page_heading">Settings</h2>

    <div class="rounded-lg border p-3">
        <h4 class="mb-3">Salutations, {{ username }}!</h4>

		<p>This is your API Token:</p>
        <p><pre><span></span>{{api_token}}<span class="command-copy"><i class="fa fa-clipboard" aria-hidden="true"></i></span></pre></p>

        <button id="resetToken" class="btn btn-warning"><i class="fas fa-recycle"></i> Reset</button>
        <p>If you reset your token, you will need to update any default callbacks in your pipelines.</p>        
        <hr/>
        <p>The process of deleting your login is irreversible. We'd hate to see you go.</p>
        
        <button class="btn btn-danger delete-button" data-table-id="{{ dbid }}">Delete Login</button>
        <p></p>
    	<p class="card-text"><strong>Note:</strong> Your data on FeatureBase Cloud will be left intact, and you may elect to remove it manually there.</p>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
	// copy things
	$('span.command-copy').click(function(e) {
		var preElement = $(this).closest('pre');
		var text = preElement.text().trim();
		var copyTextarea = document.createElement('textarea');
		copyTextarea.value = text;
		document.body.appendChild(copyTextarea);
		copyTextarea.select();
		document.execCommand('copy');
		document.body.removeChild(copyTextarea);
		$(this).addClass('flash');
		setTimeout(function() {
			$('span.command-copy').removeClass('flash');
		}, 500);
	});

   $(".delete-button").click(function() {
        if (confirm("Are you sure you want to delete your login? This action is irreversible...")) {
            // If confirmed, navigate to the /remove_all_caution path
            window.location.href = "/remove_all_caution";
        }
    });

    $("#resetToken").click(function() {
    	console.log("here")
        $.ajax({
            url: '/token_reset',
            type: 'POST',
            data: JSON.stringify({ prompt: 'please' }),
            contentType: 'application/json',
            success: function(data) {
                location.reload();
            },
            error: function() {
                toastr.error("Error resetting token. Very strange.");
            }
        });
    });
});
</script>
{% endblock %}