{% extends "pages/page_base.html" %}

{% block title %}
<title> Tasks | FeatureBase AI</title>
<meta property='og:title' content='Tasks | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">
    <h2 class="page_heading">Active Tasks</h2>

    {% if tasks %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Run #</th>
                <th>Next Run</th>
                <th>Log</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.dispatch_count }}</td>
                    <td>{{ task.schedule_time }}</td>
                    <td>
                        {% if "418" in task.log %}
                            Server start issued.
                        {% elif "429" in task.log %}
                            Too many requests to OpenAI.
                        {% else %}
                            {{ task.log }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no active tasks. Start ingestion to see tasks here.</p>
    {% endif %}
    <button class="reload-button btn btn-success" onclick="location.reload()">
        <i class="fas fa-sync-alt"></i> Reload
    </button>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    function reloadPage() {
        location.reload();
    }
    setInterval(reloadPage, 30000);
});
</script>
{% endblock %}

