{% extends "pages/page_base.html" %}

{% block title %}
<title> Tasks | FeatureBase AI</title>
<meta property='og:title' content='Tasks | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">
    <h2 class="page_heading">Tasks</h2>

    {% if tasks %}
    <table id="tasksTable" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Pipeline</th>
                <th>Node</th>
                <th>Created At</th>
                <th>State</th>
                <th>Error</th>
                <th>Retries</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.task_id }}</td>
                    <td>{{ task.user_id }}</td>
                    <td>{{ task.pipe_id }}</td>
                    <td>{{ task.current_node_id }}</td>
                    <td>{{ task.created_at }}</td>
                    <td>{{ task.state }}</td>
                    <td>{{ task.error }}</td>
                    <td>{{ task.retries }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no active tasks. Start ingestion to see tasks here.</p>
    {% endif %}
    <button class="reload-button btn btn-success" onclick="location.reload()">
        <i class="fas fa-sync-alt"></i> Reload
    </button>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {

    // sort table
    $('#tasksTable').DataTable({});

    // is it a travesty that I didn't write any of this?
    let inactivityTimer; // Initialize a timer variable

    // Function to reload the page
    function reloadPage() {
      window.location.reload();
    }

    // Function to start the inactivity timer
    function startInactivityTimer() {
      inactivityTimer = setTimeout(reloadPage, 30000); // Reload the page after 1 minute (60000 milliseconds)
    }

    // Function to reset the inactivity timer
    function resetInactivityTimer() {
      clearTimeout(inactivityTimer); // Clear the previous timer
      startInactivityTimer(); // Start a new timer
    }

    // Event listeners for mouse and keyboard activity
    document.addEventListener('mousemove', resetInactivityTimer); // Mouse activity
    document.addEventListener('keydown', resetInactivityTimer); // Keyboard activity

    // Start the initial timer
    startInactivityTimer();
    // Probably not.

});
</script>
{% endblock %}

