{% extends "pages/page_base.html" %}

{% block title %}
<title>{{template.name}} | Templates | FeatureBase AI</title>
<meta property='og:title' content='{{template.name}} | Templates | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">    
    <h2 class="page_heading">{% if template %}Edit Template{% else %}New Template{% endif %}</h2>
    <div class="instructions">
        <p>You are {% if template %}editing a{% else %}creating a new{% endif %} template. Use upload and download to manage your template versions. Use choose template to choose a template example.</p>
    </div>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="templateName" value="{% if template %}{{ template.name }}{% else %}your-template{% endif %}">
        </div>

        <button id="{% if template %}renameButton{% else %}generateButton{% endif %}" class="btn btn-secondary">{% if template %}Rename{% else %}Generate Name{% endif %}</button>
    </form>

    <div class="form-group mt-3">
        <textarea class="form-control" id="templateText" rows="4">{% if template %}{{ template.text }}{% endif %}</textarea>
    </div>

    <!-- Cancel Button -->
    <a href="/templates" class="btn btn-danger">
        <i class="fas fa-arrow-left"></i> Back
    </a>

    <!-- Save Button -->
    <a id="saveButton" href class="btn btn-primary">
        <i class="fas fa-save"></i> Save
    </a>

    <!-- Download Button -->
    <a id="downloadButton" href class="btn btn-success" download="template.txt">
        <i class="fas fa-download"></i> Download
    </a>

    <!-- Load Button -->
    <input type="file" id="fileInput" style="display: none;" accept=".txt">
    <button id="loadButton" class="btn btn-info">
        <i class="fas fa-upload"></i> Upload
    </button>

    <div class="dropdown d-inline">
        <button class="btn btn-warning dropdown-toggle" type="button" id="generateTemplateDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs"></i> Choose Template
        </button>
        <div class="dropdown-menu" aria-labelledby="generateTemplateDropdown">
            <!-- Text and Keyterms -->
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="text_to_keyterms">Text to Keyterms</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="text_and_keyterms_to_question">Text and Keyterms to Question</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="text_to_summary">Text to Summary</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="text_to_vector">Text to Vector</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="text_keyterms_to_vector">Text and Keyterms to Vector</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="vector_to_texts">Vector to Texts (Similarity Query)</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="texts_and_keyterms_to_answer">Texts and Keyterms to Answer</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="text_to_stringset">Text to Stringset</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="text_to_stringset">Text to Sentiment</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="text_to_sql">Text to SQL (Query)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generateHeadersModal" data-template-name="random_word">Random Word (Utility)</a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    {% if template %}$('#renameButton').hide();{% endif %}

    toastr.options = {
      "positionClass": "toast-bottom-right",
    }

    {% for message in get_flashed_messages() %}
        toastr.info("{{ message }}");
    {% endfor %}

    var originalTemplateName = $("#templateName").val();
    var originalTemplateText = $("#templateText").val();
    var templateNameChanged = false;

    $("#renameButton").on("click", function() {
        event.preventDefault();
        var newName = $("#templateName").val();
        
        // Check if the template name has changed
        if (newName !== originalTemplateName) {
            // Create a JSON object with the new template name
            var data = {
                "template": {
                    "name": newName,
                    "text": originalTemplateText
                }
            };

            // Send a POST request to update the template name
            $.ajax({
                url: '/templates{% if template %}/{{template.template_id}}{% endif %}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    originalTemplateName = newName;
                    $('#renameButton').hide();
                },
                error: function(error) {
                    // Handle error response here
                    console.error('Error updating template name:', error);
                }
            });
        }
    });

    var toastrWarningCount = 0;
    var maxToastrWarnings = Math.floor(Math.random() * (10 - 3 + 1)) + 3;
        
    // Save Button Click Event
    $("#saveButton").on("click", function(event) {
        event.preventDefault();
        var newTemplateText = $("#templateText").val();

        if (newTemplateText !== originalTemplateText) {
            var data = {
                "template": {
                    "name": $("#templateName").val(),
                    "text": newTemplateText
                }
            };
            $.ajax({
                url: 'http{% if "localhost" not in hostname %}s{% endif %}://{{hostname}}/templates/{% if template %}{{template.template_id}}{% else %}create{% endif %}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    window.location.href = "/templates/"+response.template_id;
                    toastr.info("Template saved.")
                },
                error: function(error) {
                    console.error('Error saving template text:', error);
                }
            });
        } else {
            toastrWarningCount++;
            if (toastrWarningCount < maxToastrWarnings) {
                toastr.warning("Edit the template before saving it.");
            } else {
                toastr.warning("Ok, I get it.");
            }
        }
    });

    $(document).on("keydown", function (event) {
        if ((event.ctrlKey || event.metaKey) && event.key === 's') {
            event.preventDefault(); // Prevent the default browser save action
            $("#saveButton").click(); // Simulate a click on the "Save" button
        }
    });

    // Attach a click event handler to the "Generate Name" button
    $("#generateButton").on("click", function() {
        event.preventDefault();
        $.ajax({
            url: '/templates/generate_name',
            type: 'GET',
            success: function(response) {
                // Update the template name field with the generated name
                $("#templateName").val(response.name);
            },
            error: function(error) {
                console.error('Error generating the name:', error);
            }
        });
    });

    $("#downloadButton").on("click", function() {
        var templateText = $("#templateText").val();
        var templateName = $("#templateName").val();
        var blob = new Blob([templateText], { type: "text/plain" });
        var url = window.URL.createObjectURL(blob);

        $("#downloadButton").attr("href", url);
        $("#downloadButton").attr("download", templateName + ".txt");
    });

    // Event listener for changes in the templateName field
    $("#templateName").on("input", function() {
        var currentTemplateName = $(this).val();
        templateNameChanged = currentTemplateName !== originalTemplateName;

        if (templateNameChanged) {
            $("#renameButton").show();
        } else {
            $("#renameButton").hide();
        }
    });

    // Event listener to prevent spaces in templateName
    $("#templateName").on("keydown", function(e) {
        if (e.keyCode === 32) {
            e.preventDefault();
        }
    });

    // Trigger the file input when the "Load" button is clicked
    $('#loadButton').click(function() {
        $('#fileInput').click();
    });

    // Handle file input change event
    $('#fileInput').change(function() {
        const fileInput = this;
        if (fileInput.files.length > 0) {
            const file = fileInput.files[0];
            const reader = new FileReader();
            reader.onload = function(event) {
                const fileContent = event.target.result;
                $('#templateText').text(fileContent);
                toastr.info('Loaded file.');
            };
            reader.readAsText(file);
        }
    });
    
    // Handle the template selection from the dropdown
    $(".dropdown-item").on("click", function() {
        var templateName = $(this).data("template-name");
        // Properly encode the template name
        var encodedTemplateName = encodeURIComponent(templateName);
        // Load the template from /static/templates/
        $.ajax({
            url: '/static/templates/' + encodedTemplateName + '.txt',
            type: 'GET',
            success: function(response) {
                $("#templateText").val(response);
                toastr.info('Template loaded.');
            },
            error: function(error) {
                toastr.error('Error loading template: ' + error.responseText);
            }
        });
    });
});
</script>
{% endblock %}
