{% extends "pages/page_base.html" %}

{% block title %}
<title>Templates | FeatureBase AI</title>
<meta property='og:title' content='Templates | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">
    <h2 class="page_heading">Templates</h2>

    <div class="rounded-lg border p-3">
        <h4 class="mb-3">Your Templates</h4>
        <p>The following templates are available for use in your nodes. Templates are typically paired with processors.</p>
        <div class="text-left">
            <a href="/templates/new" class="btn btn-success"><i class="fas fa-plus"></i> Create Template</a>
        </div>
        <p></p>
        <table id="templatesTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Template</th>
                    <th>Inputs</th>
                    <th>Outputs</th>
                    <th>Extras</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="templateTable">
                {% for template in templates %}
                    <td><button class="btn btn-secondary" onclick="location.href='/templates/{{ template.template_id }}'"><i class="fas fa-pen"></i> {{ template.name }}</button></td>
                    
                    <td>
                        {% if template is not none and template.get('input_fields') is not none %}
                            {% for input_field in template['input_fields'] %}
                                {{ generate_regular_badge(input_field.name, input_field.type) }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if template is not none and template.get('output_fields') is not none %}
                            {% for output_field in template.get('output_fields') %}
                                {{ generate_regular_badge(output_field.name, output_field.type) }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    
                    <td>
                        {% if template.extras %}
                            {% for key, value in template.extras.items() %}
                                <span>
                                    {{ generate_extra_badge(key, value) }}
                                </span>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <button class="delete-button btn btn-danger" data-template-id="{{ template.template_id }}"><i class="fas fa-trash-alt"></i></button>
                        <div class="spinner-border spinner-border-sm text-danger" role="status" style="display: none; margin-left: 10px;">
                            <span class="sr-only"></span>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    function getRowCount() {
        const tbody = document.querySelector('table tbody');
        if (tbody) {
            const rowCount = tbody.getElementsByTagName('tr').length;
            return rowCount;
        } else {
            return 0;
        }
    }

    // Attach a click event handler to the delete buttons
    $(".delete-button").on("click", function () {
        var template_id = $(this).data("template-id");
        var spinner = $(this).siblings(".spinner-border");

        spinner.show();
        $(this).hide();

        $.ajax({
            url: '/templates/' + template_id,
            type: 'DELETE',
            success: function (response) {
                $(this).closest("tr").remove();
                toastr.success('Template deleted.');
            }.bind(this), // Maintain the reference to the button
            error: function (error) {
                toastr.error(error.responseJSON.message);
            },
            complete: function () {
                $(this).show();
                spinner.hide();
                if (getRowCount() === 0) {
                    window.location.href = '/templates/new';
                }
            }.bind(this)
        });
    });

    // popovers
    $('.extras').popover({
      trigger: 'focus'
    })
    $('.processors').popover({
      trigger: 'focus'
    });


    function processString(inputString) {
      if (inputString.includes(':')) {
        const parts = inputString.split(':');
        part = parts[1].trim();
        return part;
      } else {
        return inputString;
      }
    }

    // Function to generate a color based on the name
    function getColorFromName(name) {
        name = name.trim(); // Remove leading and trailing spaces
        let hash = 0;
        for (let i = 0; i < name.length; i++) {
            hash = name.charCodeAt(i) + ((hash << 5) - hash);
        }
        const color = `hsl(${hash % 360}, 70%, 60%)`;
        return color;
    }

    // Function to change button colors
    function changeButtonColors() {
        const buttons = document.querySelectorAll("#templateTable .btn");

        buttons.forEach(button => {
            const name = button.innerText;
            const color = getColorFromName(name);
            button.style.backgroundColor = color;
            button.style.borderColor = color;
        });
    }

    // Function to change badge colors
    function changeBadgeColors() {
        const badges = document.querySelectorAll("#templateTable .badge");

        badges.forEach(badge => {
            const name = processString(badge.innerText);
            const color = getColorFromName(name);
            badge.style.backgroundColor = color;
            badge.style.borderColor = color;
        });
    }

    // Function to run after both changeButtonColors and changeBadgeColors are done
    function sortTable() {
        // sort table
        $('#templatesTable').DataTable({
            "columnDefs": [{ "orderable": false, "targets": [1,2,3,4] }]
        });
    }

    // Run changeButtonColors and changeBadgeColors functions using Promises
    const buttonColorsPromise = new Promise((resolve) => {
        changeButtonColors();
        resolve();
    });

    const badgeColorsPromise = new Promise((resolve) => {
        changeBadgeColors();
        resolve();
    });

    // Wait for both promises to resolve, and then execute anotherFunction
    Promise.all([buttonColorsPromise, badgeColorsPromise]).then(() => {
        sortTable();
    });


});
</script>
{% endblock %}
