{% extends "pages/page_base.html" %}

{% block title %}
<title>Templates | FeatureBase AI</title>
<meta property='og:title' content='Templates | FeatureBase AI'/>
{% endblock %}

{% macro generate_regular_badge(field_name, field_type) %}
    {% set badge_class = {
        'stringset': 'badge-primary',
        'vector': 'badge-secondary',
        'default': 'badge-info'
    } %}
    
    {# Determine which badge class to use based on the field type #}
    {% set badge_to_use = badge_class[field_type] if field_type in badge_class else badge_class['default'] %}
    
    <span class="badge {{ badge_to_use }}">
        {{ field_name }}: {{ field_type }}
    </span>
{% endmacro %}

{% macro generate_extra_badge(extra_name, extra_type) %}
    {% set extra_badge_class = {
        'vector_size': 'badge-success',
        'model': 'badge-warning',
        'default': 'badge-info'
    } %}
    
    {# Determine which badge class to use based on the extra name (key) #}
    {% set badge_to_use = extra_badge_class[extra_name] if extra_name in extra_badge_class else extra_badge_class['default'] %}
    
    <span class="badge {{ badge_to_use }}">
        {{ extra_name }}: {{ extra_type }}
    </span>
{% endmacro %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">
    <h2 class="page_heading">Templates</h2>

    <div class="rounded-lg border p-3">
        <h4 class="mb-3">Your Templates</h4>
        <p>The following templates are available for use in your nodes. Templates may not be deleted if they are being used by a node.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Inputs</th>
                    <th>Output Hints</th>
                    <th>Extras</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for template in templates %}
                <tr>
                    <td><a href="/templates/{{ template.template_id }}">{{ template.name }}</a></td>
                    <td>
                        {% for input_field in template.input_fields %}
                            {{ generate_regular_badge(input_field.name, input_field.type) }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for output_field in template.output_fields %}
                            {{ generate_regular_badge(output_field.name, output_field.type) }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if template.extras %}
                        {% for extra in template.extras %}
                            {% for key, value in extra.items() %}
                                {{ generate_extra_badge(key, value) }}
                            {% endfor %}
                        {% endfor %}
                        {% endif %}
                    </td>

                    <td>
                        <button class="delete-button btn btn-danger" data-template-id="{{ template.template_id }}"><i class="fas fa-trash-alt"></i></button>
                        <div class="spinner-border text-danger" role="status" style="display: none;">
                            <span class="sr-only"></span>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p></p>
    <a href="/templates/new" class="btn btn-success">
        <i class="fas fa-plus"></i> Add Template
    </a>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    // Attach a click event handler to the delete buttons
    $(".delete-button").on("click", function () {
        var template_id = $(this).data("template-id");
        var spinner = $(this).siblings(".spinner-border");
        var rowCount = $("tbody tr").length;

        spinner.show();
        $(this).hide();

        $.ajax({
            url: '/templates/' + template_id,
            type: 'DELETE',
            success: function (response) {
                $(this).closest("tr").remove();
                toastr.success('Template deleted.');
                if (rowCount === 1) {
                    window.location.href = "/templates/new";
                }
            }.bind(this), // Maintain the reference to the button
            error: function (error) {
                toastr.error(error.responseJSON.message);
            },
            complete: function () {
                $(this).show();
                spinner.hide();
            }.bind(this) // Maintain the reference to the button
        });
    });
});
</script>
{% endblock %}
