{% extends "pages/page_base.html" %}

{% block title %}
<title>Templates | FeatureBase AI</title>
<meta property='og:title' content='Templates | FeatureBase AI'/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-5">
    <h2 class="page_heading">Templates</h2>

    <div class="rounded-lg border p-3">
        <h4 class="mb-3">Your Templates</h4>
        <p>The following templates are available for use in your nodes. Templates may not be deleted if they are being used by a node.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Template</th>
                    <th>Processor</th>
                    <th>Inputs</th>
                    <th>Outputs</th>
                    <th>Extras</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="templateTable">
                {% for template in templates %}
                    <td><button class="btn btn-danger" onclick="location.href='/templates/{{ template.template_id }}'"><i class="fas fa-pen"></i> {{ template.name }}</button></td>
                    <td><a tabindex="1" role="button" data-placement="left" class="btn btn-secondary processors" title="{{ template.name }}" data-content="{{ processors | selectattr('value', 'equalto', template.processor) | map(attribute='label') | first }}" disabled data-trigger="focus"><i class="fas fa-microchip"></i> {{ template.processor }}</a></td>

                    <td>
                        {% for input_field in template.input_fields %}
                            <span>
                                {{ generate_regular_badge(input_field.name, input_field.type) }}
                            </span>
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for output_field in template.output_fields %}
                            <span>
                                {{ generate_regular_badge(output_field.name, output_field.type) }}
                            </span>
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% if template.extras %}
                            {% for extra in template.extras %}
                                {% for key, value in extra.items() %}
                                    <span>
                                        {{ generate_extra_badge(key, value) }}
                                    </span>
                                    <br>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <button class="delete-button btn btn-danger" data-template-id="{{ template.template_id }}"><i class="fas fa-trash-alt"></i></button>
                        <div class="spinner-border text-danger" role="status" style="display: none;">
                            <span class="sr-only"></span>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p></p>
    <a href="/templates/new" class="btn btn-success">
        <i class="fas fa-plus"></i> Add Template
    </a>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    function getRowCount() {
        const tbody = document.querySelector('table tbody');
        if (tbody) {
            const rowCount = tbody.getElementsByTagName('tr').length;
            return rowCount;
        } else {
            return 0;
        }
    }

    // Attach a click event handler to the delete buttons
    $(".delete-button").on("click", function () {
        var template_id = $(this).data("template-id");
        var spinner = $(this).siblings(".spinner-border");

        spinner.show();
        $(this).hide();

        $.ajax({
            url: '/templates/' + template_id,
            type: 'DELETE',
            success: function (response) {
                $(this).closest("tr").remove();
                toastr.success('Template deleted.');
            }.bind(this), // Maintain the reference to the button
            error: function (error) {
                toastr.error(error.responseJSON.message);
            },
            complete: function () {
                $(this).show();
                spinner.hide();
                if (getRowCount() === 0) {
                    window.location.href = '/templates/new';
                }
            }.bind(this)
        });
    });

    // popovers
    $('.extras').popover({
      trigger: 'focus'
    })
    $('.processors').popover({
      trigger: 'focus'
    });


    // JavaScript to change button colors
    const buttons = document.querySelectorAll("#templateTable .btn");

    buttons.forEach(button => {
        const name = button.innerText;
        const color = getColorFromName(name);
        button.style.backgroundColor = color;
        button.style.borderColor = color;
    });

    // JavaScript to change button colors
    const badges = document.querySelectorAll("#templateTable .badge");

    badges.forEach(badge => {
        const name = processString(badge.innerText);
        const color = getColorFromName(name);
        badge.style.backgroundColor = color;
        badge.style.borderColor = color;
    });

    function processString(inputString) {
      if (inputString.includes(':')) {
        const parts = inputString.split(':');
        part = parts[1].trim();
        return part;
      } else {
        return inputString;
      }
    }

    // Function to generate a color based on the name
    function getColorFromName(name) {
        let hash = 0;
        for (let i = 0; i < name.length; i++) {
            hash = name.charCodeAt(i) + ((hash << 5) - hash);
        }
        const color = `hsl(${hash % 360}, 70%, 60%)`; // Generate an HSL color
        return color;
    }
});
</script>
{% endblock %}
