# config.py

class DevConfig:
    PROJECT_ID = "sloth-compute"

    DEV = "True"

    # sloth box token
    SLOTH_QUEUE = "<create_queue_put_name_here>"
    SLOTH_TOKEN = ""
    SLOTH_CONTROLLER_IP = ""
    SLOTH_CONTROLLER_USERNAME = "controller"

    # task processing
    NGROK_URL = "https://<ngrok_subdomain>.ngrok-free.app"

    # cron key
    CRON_KEY = ""

    # secret key for the app
    SECRET_KEY = ""

    # featurebase endpoint URL
    FEATUREBASE_ENDPOINT = "query.featurebase.com/v2"

    # OpenAI
    OPENAI_TOKEN = ""
    COMPLETION_MODEL = "gpt-4-0613"

class ProdConfig:
    PROJECT_ID = "sloth-compute"

    DEV = "False"

    # sloth box token
    SLOTH_QUEUE = "<create_queue_put_name_here>"
    SLOTH_TOKEN = ""
    SLOTH_CONTROLLER_IP = ""
    SLOTH_CONTROLLER_USERNAME = "controller"

    # task processing
    NGROK_URL = "https://<ngrok_subdomain>.ngrok-free.app"

    # cron key
    CRON_KEY = ""

    # secret key for the app
    SECRET_KEY = ""

    # featurebase endpoint URL
    FEATUREBASE_ENDPOINT = "query.featurebase.com/v2"

    # OpenAI
    OPENAI_TOKEN = ""
    COMPLETION_MODEL = "gpt-4-0613"

class TestingConfig:
    PROJECT_ID = "sloth-compute"

    DEV = "True"

    # sloth box token
    SLOTH_QUEUE = "<create_queue_put_name_here>"
    SLOTH_TOKEN = ""
    SLOTH_CONTROLLER_IP = ""
    SLOTH_CONTROLLER_USERNAME = "controller"

    # task processing
    NGROK_URL = "https://<ngrok_subdomain>.ngrok-free.app"

    # cron key
    CRON_KEY = ""

    # secret key for the app
    SECRET_KEY = ""

    # featurebase endpoint URL
    FEATUREBASE_ENDPOINT = "query.featurebase.com/v2"

    # OpenAI
    OPENAI_TOKEN = ""
    COMPLETION_MODEL = "gpt-4-0613"