<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Large Text Area Form</title>
  <style>
		body {
			font-family: 'Courier New', Courier, monospace;
			text-align: center;
			padding-top: 0%;
			background-color: #f7f7f7;
		}

		pre {
			background-color: #e6e6e6;
			padding: 20px;
			display: inline-block;
		}

		h1 {
			color: #555;
		}
	</style>
</head>


<body>
  <div class="container mt-5">
    <p>WELCOME LLAMA! <a href="/logout">LLAMA OUT?</a></p>
    <form action="/" method="POST">
      <div class="form-group">
        <label for="largeTextArea">Enter Text:</label>
        <textarea class="form-control" id="largeTextArea" name="text" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if results %}
    <h2>results:</h2>
    <ul>
      {% for result in results %}
      <li>{{ result }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</body>

</html>


