<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeatureBase AI - Tables</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.ingest-lr.com/LogRocket.min.js" crossorigin="anonymous"></script>
    <script>window.LogRocket && window.LogRocket.init('9oiipa/steve');</script>
</head>
<body>

<!-- Fixed Header -->
<nav class="navbar navbar-expand-lg fixed-top" style="opacity: 90%;">
    <img src="/static/fb.png" style="height: 1.5rem; width: auto; margin-right: 10px;"> 
    <h2 style="font-family: Roboto,sans-serif; color: #ffffff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); margin: 0;">FeatureBase AI</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{username}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Left Sidebar Navigation -->
<div class="sidebar">
    <a href="#" class="highlighted-link">
        <i class="fas fa-code-branch"></i> Pipelines
    </a>
    <a href="/query">
        <i class="fas fa-search"></i> Query
    </a>
    <a href="/models">
        <i class="fas fa-cogs"></i> Models
    </a>
    <a href="/jobs">
        <i class="fas fa-tasks"></i> Jobs
    </a>
    <a href="/settings">
        <i class="fas fa-cog"></i> Settings
    </a>
</div>

<!-- Main Content -->
<div class="content container mt-5 pt-5">
    {% for message in get_flashed_messages() %}
        <div id="tempNotice" class="alert alert-info d-none" role="alert">{{ message }}</div>
    {% endfor %}

    <h2 class="page_heading">Pipelines</h2>


    {% if tables %}
    <div class="card rounded-lg">
        <div class="card-body">
            <h4 class="card-title card-callout">Task: Create More Pipelines</h4>
            <p class="card-body">Pipelines route your data to AI models, which interact with  and store the outcomes within your FeatureBase database. Send in your JSON and then head over to <a href="https://cloud.featurebase.com/query/">FeatureBase Cloud</a> to query it with SQL. Behind the scene, AI models will ensure your data is delivered into the correct table formats.</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Models</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for table in tables %}
                    <tr>
                        <td><a href="/tables/{{ table.tid }}">{{ table.name }}</a></td>
                        <td>
                        {% for model in table.models %}
                            {% if "embedding" in model.kind %}
                                <span class="badge badge-primary">{{ model.kind }} with {{ model.name }}</span>
                            {% elif "keyterm" in model.kind %}
                                <span class="badge badge-warning">{{ model.kind }} with {{ model.name }}</span>
                            {% elif "question" in model.kind %}
                                <span class="badge badge-success">{{ model.kind }} with {{ model.name }}</span>
                            {% endif %}
                        {% endfor %}
                        <span class="badge badge-dark">write to database</span>
                        </td>
                        <td>
                            <button class="delete-button btn btn-danger" data-table-id="{{ table.tid }}"><i class="fas fa-trash-alt"></i> Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <p></p>
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modelFormModal">
        Add Pipeline
    </button>


    {% else %}

        <div class="card rounded-lg">
            <div class="card-body">
                <h4 class="card-title card-callout">Task: Create a new pipeline.</h4>
                <p class="card-text">
                    Click on the "Add Pipeline" button to create a new pipeline. Pipelines without models insert directly into FeatureBase.
                </p>

                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modelFormModal">
                    Add Pipeline
                </button>
                <p class="card-text"></p>
                <p class="card-text">
                    The endpoint for sending the text and token for authentication will be shown once the table for the pipeline is created.
                </p>
                <p class="card-text">
                    Using the endpoint will look like this:
                </p>
                <div class="code-block">curl -X POST \
-H "Content-Type: application/json" \
-d '{"text":"There was a sudden knock at the door, then silence."}' \
https://ai.featurebase.com/ingest/&lt;endpoint_id&gt;?token=&lt;token&gt;</div>
                <p class="card-text"></p>
                <p class="card-text">Once the job is complete, a sample response will look like this:</p>
                <div class="code-block">{
"_id": "FladzA",
"keyterms": ['door', 'silence', 'sudden', 'knock'],
"text": "There was a sudden knock at the door, then silence.",
"embedding": [0.05333335, 0.020197952, 0.012141972, -0.041954238, -0.055371083, ...]
}</div>
            </div>
        </div>

    {% endif %}


<div class="modal fade" id="modelFormModal" tabindex="-1" role="dialog" aria-labelledby="modelFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title card-callout" id="modelFormModalLabel">Create Pipeline</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- New model selection section -->
                <div class="form-group">
                    <label for="tableName">Pipeline Name</label>
                    <input type="text" class="form-control" id="tableName" placeholder="Enter pipeline name">
                </div>

                <!-- Model list section -->
                <div class="form-group">
                    <p id="ListMessage">Pipeline will write directly to FeatureBase.</p>
                    <ul id="modelList"></ul>
                </div>

                <div class="form-group">
                    <label for="selectedModel">Add Model</label>
                    <select class="form-control" id="selectedModel">
                        <optgroup id="modelPulldown" label="Available Models">
                            <option data-mid="none">None</option>
                            {% for model in models %}
                                <option data-mid="{{ model.mid }}">{{ model.kind }} with {{ model.name }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <button id="addModelToList" class="btn btn-primary">Add to Pipeline</button>
                
                <div class="form-group"></div>
                <div class="form-group" id="openaiTokenField">
                    <label for="openaiToken">OpenAI Token</label>
                    <input type="text" class="form-control" id="openaiToken" name="openaiToken">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-dark">Create</button>
            </div>
        </div>
    </div>
</div>

</div>


<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='trianglify.bundle.js') }}"></script>
<script type="text/javascript">
$(document).ready(function () {
    // Show the notice
    $('#tempNotice').removeClass('d-none');

    // After 5 seconds, hide the notice
    setTimeout(function () {
        $('#tempNotice').addClass('d-none');
    }, 5000); // 5000 milliseconds = 5 seconds

    // Attach a click event handler to the delete buttons
    $(".delete-button").on("click", function () {
        var tableId = $(this).data("table-id"); // Adjust this based on your data structure
        var $this = $(this);
        var rowCount = $(".table tbody tr").length;
        $this.addClass("flash");
        // Send an AJAX request to delete the table with the DELETE method
        $.ajax({
            url: '/tables/' + tableId,
            type: 'DELETE',
            success: function (response) {
                $this.closest("tr").remove();
                if (rowCount === 1) {
                    window.location.reload();
                }
            },
            error: function (error) {
                console.error("Error deleting table:", error);
            }
        });
    });

const selectedModelDropdown = $('#selectedModel');
const addModelButton = $('#addModelToList');
const modelList = $('#modelList');
const ListMessage = $('#ListMessage');
const openaiTokenField = $('#openaiToken'); // Added this line to select the OpenAI Token field
const modelPulldown = $('#modelPulldown');
const selectedModels = []; // Initialize an array to store selected models
const mids = []; // Initialize an array to store mids

addModelButton.click(function () {
    const selectedModel = selectedModelDropdown.val();

    // Check if the selectedModel is not empty and is not already in the list
    if (selectedModel !== "None" && selectedModel && !selectedModels.includes(selectedModel)) {
        // Retrieve the data-mid attribute of the selected option
        const selectedOption = selectedModelDropdown.find(':selected');
        const selectedMid = selectedOption.data('mid');

        // Add the selectedModel to the list of selected models and the associated mid to the mids array
        selectedModels.push(selectedModel);
        mids.push(selectedMid);

        // Create a Bootstrap-styled badge for the model
        const badge = $('<span></span>', {
            class: 'badge badge-danger clickable-badge',
            text: 'x',
            click: function () {
                const indexToRemove = selectedModels.indexOf(selectedModel);
                if (indexToRemove !== -1) {
                    selectedModels.splice(indexToRemove, 1);
                    mids.splice(indexToRemove, 1);
                }
                listItem.remove();
                if (modelList.children().length === 0) {
                    ListMessage.text('Pipeline will write directly to FeatureBase.');
                }

                // Show the removed model in the pull-down list
                modelPulldown.find(`option[data-mid='${selectedMid}']`).css('display', 'block');
                
                // After removing the model, re-check and toggle the OpenAI Token field visibility
                selectedModelDropdown.val("None");
                toggleOpenAITokenField();
                
                const newModelStartingWord = selectedModel.split(' ')[0];
                $('#modelPulldown option').each(function () {
                    const optionModel = $(this).text();
                    const optionStartingWord = optionModel.split(' ')[0];
                    if (newModelStartingWord === optionStartingWord) {
                        $(this).css('display', 'block');
                    }
                });
            },
            css: {
                cursor: 'pointer' // Change cursor to pointer on hover
            }
        });

        selectedModelDropdown.val("None");

        // Create a list item containing the model name, a space, and the badge
        if (selectedModel.includes("embedding") ) {
            var badgeType = "badge-primary";
        } else if (selectedModel.includes("keyterm") ) {
            var badgeType = "badge-warning";
        } else {
            var badgeType = "badge-success";
        }
        const listItem = $('<li></li>').html("<span class='badge "+badgeType+"'>"+selectedModel + "</span> ").append(badge);

        modelList.append(listItem);

        ListMessage.text('Pipeline execution order:');

        // hide the selected model from the pull-down list
        selectedOption.css('display', 'none');

        // hide other models with the same starting word
        // TODO fix this mess by allowing certain kinds of models to be hidden when a similar kind is in the pipeline
        const newModelStartingWord = selectedModel.split(' ')[0];
        $('#modelPulldown option').each(function () {
            const optionModel = $(this).text();
            const optionStartingWord = optionModel.split(' ')[0];
            if (newModelStartingWord === optionStartingWord) {
                $(this).css('display', 'none');
            }
        });

        // After adding the model, re-check and toggle the OpenAI Token field visibility
        toggleOpenAITokenField();
    }
});


var formFields = [
    { name: 'tableName', id: 'tableName' },
    { name: 'openaiToken', id: 'openaiToken' },
    { name: 'mids', id: 'mids' }
];

// Function to toggle the visibility of the OpenAI Token field
function toggleOpenAITokenField() {
    // Check if any of the selected models contain "gpt" or "ada"
    const isGptOrAdaSelected = selectedModels.some(model => model.includes('gpt') || model.includes('ada'));
    
    // Select the entire group (including label and input)
    const openaiTokenFieldGroup = $('#openaiTokenField');

    // Use jQuery to toggle visibility based on the 'isGptOrAdaSelected' variable
    if (isGptOrAdaSelected) {
        openaiTokenFieldGroup.show(); // Show the OpenAI Token field without animation
    } else {
        openaiTokenFieldGroup.hide(); // Hide the OpenAI Token field without animation
    }
}


toggleOpenAITokenField(); // Initial state

$("#modelFormModal").on("click", ".btn-dark", function () {
    var formData = {};

    // Populate formData object from formFields array
    for (var i = 0; i < formFields.length; i++) {
        var field = formFields[i];
        formData[field.name] = $("#" + field.id).val();
    }

    // Include the selected mids in the formData object
    formData.mids = mids;

    // Move this to a notice in the form
    if (!/^[a-z-]+$/.test(formData.tableName)) {
        alert("Invalid table name. Table name should only contain lowercase letters and '-'");
    } else if (selectedModels.some(model => model.includes('gpt') || model.includes('ada')) && formData.openaiToken === "") {
        alert("OpenAI Token is required for selected options.");
    } else {
        $.ajax({
            type: "POST",
            url: "/tables",
            data: JSON.stringify(formData), // Send data as JSON
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                window.location.href = "/tables/" + response.tid;
            },
            error: function (error) {
                console.error("Error submitting form:", error);
            }
        });
    }
});


});
</script>

</body>
</html>
