<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<style>
    .code-block {
        background-color: #f5f5f5; /* Light gray background */
        border-radius: 5px;
        padding: 15px;
        font-family: "Courier New", Courier, monospace;
        white-space: pre-wrap; /* To ensure long lines of code don't overflow the container */
    }
</style>
</head>
<body>

<!-- Fixed Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="opacity: 90%;">
    <img src="/static/fb.png" style="height: 1.5rem; width: auto; margin-right: 10px;"> 
          <h2 style="font-family: Roboto,sans-serif; color: #ffffff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); margin: 0;">FeatureBase AI</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{username}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Models</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>

        </ul>
    </div>
</nav>

<!-- View Below - Create New Object -->
<div class="container mt-5 pt-5">
    
    {% for message in get_flashed_messages() %}
       <div id="tempNotice" class="alert alert-info d-none" role="alert">{{ message }}</div>
    {% endfor %}


    <h2>Active Tables</h2>


    <div class="container mt-5 mb-5">
    {% if tables %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Endpoint</th>
                    <th>Model</th>
                    <th>Keyterms</th>
                </tr>
            </thead>
            <tbody>
                {% for table in tables %}
                    <tr>
                        <td>{{ table.name }}</td>
                        <td>{{ table.tid }}</td>
                        <td>{{ table.model }}</td>
                        <td>{{ table.extract }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modelFormModal">
                        Add Table
                    </button>
    {% else %}
        <div class="container mt-5">
            <div class="card rounded-lg">
                <div class="card-body">
                    <h5 class="card-title">Task: Create a new text storage table.</h5>
                    <p class="card-text">
                        Click on the "Add Table" button. When prompted, select the model you want to run on the text sent to the table and whether you want keyterms extracted by GPT-4 (requires giving us an OpenAI token).
                    </p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modelFormModal">
                        Add Table
                    </button>
                    <p class="card-text"></p>
                    <p class="card-text">
                        The endpoint for sending the text and token for authentication will be shown once the table is created.
                    </p>

                    <p class="card-text">
                        Using the endpoint will look like this:
                    </p>

                    <div class="code-block">curl -X POST \
-H "Content-Type: application/json" \
-d '{"text":"There was a sudden knock at the door, then silence."}' \
https://ai.featurebase.com/ingest/&lt;endpoint_id&gt;?token=&lt;token&gt;</div>

                    <p class="card-text"></p>
                    <p class="card-text">One the job is complete, a sample response will look like this:</p>
                    <div class="code-block">{
    "_id": "FladzA",
    "keyterms": ['door', 'silence', 'sudden', 'knock'],
    "text": "There was a sudden knock at the door, then silence.",
    "embedding": [0.05333335, 0.020197952, 0.012141972, -0.041954238, -0.055371083, ...]
}</div>

                </div>
            </div>
        </div>
    {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelFormModal" tabindex="-1" role="dialog" aria-labelledby="modelFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modelFormModalLabel">Adding Table</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="tableName">Table Name</label>
                            <input type="text" class="form-control" id="tableName" placeholder="Enter table name">
                        </div>

                    <div class="form-group">
                        <label for="modelSelect">Select a Model</label>
                        <select class="form-control" id="modelSelect">
                            <optgroup label="Embeddings">
                                <option>Instructor Large</option>
                                <option>Instructor XL</option>
                                <option>ada-002 (requires OpenAI token)</option>
                            </optgroup>
                            <!-- Add more optgroups or options as needed -->
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Extract Keyterms</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="keyTermsOptions" id="extractYes" value="yes">
                            <label class="form-check-label" for="extractYes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="keyTermsOptions" id="extractNo" value="no" checked> <!-- added "checked" here -->
                            <label class="form-check-label" for="extractNo">
                                No
                            </label>
                        </div>
                    </div>

                    <div class="form-group d-none" id="tokenField">
                        <label for="openaiToken">OpenAI Token</label>
                        <input type="text" class="form-control" id="openaiToken" placeholder="Enter OpenAI Token">
                    </div>

                        <!-- Add more form fields as needed -->
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-dark">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<script src="{{ url_for('static', filename='trianglify.bundle.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    // Show the notice
    $('#tempNotice').removeClass('d-none');

    // Event listener for when the radio buttons change
    function checkSelections() {
        if ($('#modelSelect').val() === 'ada-002 (requires OpenAI token)' || $('#extractYes').is(':checked')) {
            $('#tokenField').removeClass('d-none');
        } else {
            $('#tokenField').addClass('d-none');
        }
    }

    // Event listeners for when the model dropdown or the radio buttons change
    $('#modelSelect').on('change', checkSelections);
    $('input[name="keyTermsOptions"]').on('change', checkSelections);

    // After 5 seconds, hide the notice
    setTimeout(function() {
        $('#tempNotice').addClass('d-none');
    }, 5000); // 5000 milliseconds = 5 seconds

    // When the "Create" button is clicked
    $("#modelFormModal").on("click", ".btn-dark", function() {
        // Get form data
        var formData = {
            tableName: $("#tableName").val(),
            modelSelect: $("#modelSelect").val(),
            keyTermsOptions: $("input[name='keyTermsOptions']:checked").val(),
            openaiToken: $("#openaiToken").val()
            // Add more form fields as needed
        };

        // move this to a notice in the form
        if (!/^[a-z-]+$/.test(formData.tableName)) {
            alert("Invalid table name. Table name should only contain lowercase letters and '-'");
        } else if ((formData.keyTermsOptions === 'yes' || formData.modelSelect === 'ada-002') && formData.openaiToken === "") {
            alert("OpenAI Token is required for selected options.");
        } else {

            // Send a POST request to the /table endpoint
            $.ajax({
                type: "POST",
                url: "/tables",  // Change this to your actual endpoint
                data: JSON.stringify(formData),  // Send data as JSON
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    // reload the page
                    location.reload();
                },
                error: function(error) {
                    // Handle error if needed
                    console.error("Error submitting form:", error);
                }
            });
        }
    });

});
</script>
</body>
</html>

