/* Base styles */
html {
  height: 100%;
  font-size: 15px;
}

body {
  background: #fefefe;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  height: 99%;
  margin: 0;
  padding: 0;
  padding-left: 3px;
}



/* Form and label styles */
form,
label {
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

#userDropdown {
  color: white !important;
}

/* Button styles */
button {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Link styles */
a:hover {
  text-decoration: none;
  color: #96c9ff;
  text-decoration: overline;
}

/* Flash message */
div.flash {
  color: red;
}

/* Login form */
div.login_form {
  margin-top: 160px;
}

div.login_form h2 {
  font-size: 48px;
  font-weight: 700;
}

.text-muted {
  margin-bottom: 14px;
}
/* Navbar and sidebar */
.navbar,
.sidebar {
  background-color: #131138;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 55px;
  left: 0;
  padding-top: 20px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
}

.highlighted-link {
  background-color: #393758;
}

.sidebar a:hover {
  background-color: #25346B;
  color: #FFF;
}

/* Content styles */
.content {
  margin-left: 260px;
  padding-left: 20px;
  width: 70%;
}

.page_heading {
  padding-bottom: 14px;
  color: #0000B7;
}

/* Code and pre styles */
code, pre {
  position: relative;
  display: block;
  padding: 20px;
  background: #f2f2f2;
  color: #555755;
  overflow: auto;
  white-space: pre-wrap;
  overflow: hidden;
  margin-bottom: 12px;
}

.flash {
  animation: flash 0.5s;
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

span.command-copy {
  position: absolute;
  top: 15px;
  right: 15px; /* Adjust as needed for desired spacing */
  opacity: .6;
  font-size: 20px;
  color: #555755;
  cursor: pointer;
}

/* Code block styles */
.code-block {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

/* Callout styles */
.card-callout {
  font-weight: bold;
  font-size: 1.75rem;
  /* Add any other styling you desire for the callout here */
}

/* Responsive alignment for small screens */
@media (max-width: 576px) {
  .modal-body {
    padding: 15px; /* Add padding for small screens */
  }

  .form-check-label {
    display: block; /* Stack radio button labels on small screens */
  }
}


