<!DOCTYPE html>
/* Base styles */
body {
  background: #fefefe;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  padding-left: 3px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Form and label styles */
form,
label {
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

#editor { 
  height: 50vw;
  width: 80vw;
  font-size: 13px;
}

#pipelineTable_wrapper {
  padding-top: 16px;
}

/* Button styles */
button {
  -webkit-appearance: none;
  border-radius: 0;
}

#buttonSortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none; /* Remove the border */
}

#buttonSortable li {
  margin: 0;
  padding-bottom: 18px;
  background-color: transparent;
  border: none; /* Remove the border */
}

#buttonSortable li i.fa {
  color: rgba(0, 0, 0, 0);
  transition: color 0.2s; /* Add a smooth color transition */
}

#buttonSortable li:hover i.fa {
  color: rgba(0, 0, 0, 0.25); /* Change transparency on hover */
}

#fileUpload:hover {
  background-color: #007bff; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
  cursor: pointer; /* Use a regular pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Add a transition effect */
}

table {
  margin-top: 14px;
}

/* Link styles */
a:hover {
  text-decoration: none;
  color: #96c9ff;
  text-decoration: overline;
}

/* Flash message */
div.flash {
  color: red;
}

/* Login form */
div.login_form {
  margin-top: 160px;
}

div.login_form h2 {
  font-size: 48px;
  font-weight: 700;
}

.selected-node {
  margin-bottom: 10px;
}

.badge {
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust the maximum width as needed */
  font-size: 0.9em;
}

.dropdown-menu {         
  max-height: 480px;
  overflow-y: auto;
}

.highlighted-link {
  background-color: #393758;
}

.text-muted {
  margin-bottom: 14px;
}
/* Navbar and sidebar */
.navbar,
.sidebar {
  background-color: #131138;
}

.navbar {
  height: 56px !important;
}

/* Sidebar styles */
.sidebar {
  background-color: #131138;
  height: 100%;
  width: 15%;
  max-width: 192px;
  position: fixed;
  top: 56px;
  left: 0;
  padding-top: 16px;
  transition: width 0.3s; /* Add a transition for smooth width changes */
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
}

/* Content styles */
.content {
  padding-left: 20px;
  width: 85%;
  transition: margin-left 0.3s;
  margin-left: 15%;
}

/* Media query to hide text and adjust icon size under 800px */
@media (max-width: 800px) {
  .sidebar {
    width: 60px; /* Adjust the width to show only icons */
  }
  
  .sidebar a {
    padding: 10px;
    text-align: center; /* Center align the icon */
  }
  
  /* Optionally hide the icon labels completely */
  .sidebar a span {
    display: none;
  }
}

@media (min-width: 1342px) {
  .content {
    margin-left: 200px; /* Set the maximum margin-left for wider screens */
  }
}
@media (min-width: 1005px) {
  #templatesTable_wrapper {
    width: 1005px !important;
  }
}

.page_heading {
  padding-bottom: 14px;
  color: #0000B7;
}

/* Code and pre styles */
code, pre {
  position: relative;
  display: block;
  padding: 20px;
  background: #f2f2f2;
  color: #555755;
  overflow: auto;
  white-space: pre-wrap;
  overflow: hidden;
  margin-bottom: 12px;
}

.flash {
  animation: flash 0.5s;
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

span.command-copy {
  position: absolute;
  top: 15px;
  right: 15px; /* Adjust as needed for desired spacing */
  opacity: .6;
  font-size: 20px;
  color: #555755;
  cursor: pointer;
}

span.log-expand {
  opacity: .6;
  font-size: 20px;
  color: #555755;
  cursor: pointer;
}

/* Code block styles */
.code-block {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

/* Callout styles */
.card-callout {
  font-weight: bold;
  font-size: 1.75rem;
  /* Add any other styling you desire for the callout here */
}

#templateText {
    height: 60vh; /* Use vh units for the height */
    resize: none;
}

#templateName {
  margin-right: 5px;
}

#userDropdown {
  color: white !important;
}

.dataTables_wrapper .dataTables_filter {
  padding-bottom: 8px;
}